$brand-gradient: linear-gradient(
  90deg,
  hsla(141, 76%, 38%, 1) 0%,
  hsla(201, 95%, 39%, 1) 100%
);

$blue-dark: hsla(206, 35%, 28%, 1);
$blue: hsla(201, 95%, 39%, 1);
$blue-2: hsla(205, 58%, 53%, 1);
$blue-3: hsla(206, 57%, 61%, 1);
$blue-4: hsla(204, 59%, 68%, 1);
$blue-5: hsla(200, 60%, 75%, 1);

$brand-dark: hsla(156, 34%, 15%, 1);
$brand: hsla(161, 98%, 17%, 1);
$brand-2: hsla(167, 80%, 25%, 1);
$brand-3: hsla(170, 51%, 37%, 1);
$brand-4: hsla(172, 34%, 54%, 1);
$brand-5: hsla(172, 35%, 75%, 1);

$green-dark: hsla(135, 33%, 26%, 1);
$green: hsla(141, 76%, 38%, 1);
$green-2: hsla(141, 45%, 50%, 1);
$green-3: hsla(141, 41%, 62%, 1);
$green-4: hsla(140, 38%, 75%, 1);
$green-5: hsla(138, 36%, 87%, 1);

$black: hsla(0, 0%, 6%, 1);
$gray-1: hsla(20, 3%, 20%, 1);
$gray-2: hsla(0, 2%, 34%, 1);
$gray-3: hsla(0, 2%, 50%, 1);
$gray-4: hsla(340, 2%, 70%, 1);
$white: hsla(0, 0%, 97%, 1);

$transparent: hsla(0, 0%, 0%, 0);

//Set text color based on bg color
@function set-text-color($bg-color) {
  //if bg is lighter then 69%
  @if (lightness($bg-color) > 69) {
    //Set to black
    @return $black;
  } @else {
    //Set to white
    @return $white;
  }
}

//Set link hover color
@function set-link-toggle($bg-color) {
  //if bg color is lighter then 19%
  @if (lightness($bg-color) > 19) {
    //bring color closer to max dark by - 50%
    @return scale-color($bg-color, $lightness: -50%);
  } @else {
    //bring color closer to max light by - 25%
    @return scale-color($bg-color, $lightness: 25%);
  }
}

//Set bg color, text color and link hover state
@mixin set-background($bg-color) {
  background-color: $bg-color;
  color: set-text-color($bg-color);
  & a {
    color: set-text-color($bg-color);
  }
  & a:hover {
    color: set-link-toggle($bg-color);
  }
}

//Blue Color
.bg-blue-dark {
  @include set-background($blue-dark);
}
.bg-blue {
  @include set-background($blue);
}
.bg-blue-2 {
  @include set-background($blue-2);
}
.bg-blue-3 {
  @include set-background($blue-3);
}
.bg-blue-4 {
  @include set-background($blue-4);
}
.bg-blue-5 {
  @include set-background($blue-5);
}

//Brand Color
.bg-brand-dark {
  @include set-background($brand-dark);
}
.bg-brand {
  @include set-background($brand);
}
.bg-brand-2 {
  @include set-background($brand-2);
}
.bg-brand-3 {
  @include set-background($brand-3);
}
.bg-brand-4 {
  @include set-background($brand-4);
}
.bg-brand-5 {
  @include set-background($brand-5);
}

//Greens
.bg-green-dark {
  @include set-background($green-dark);
}
.bg-green {
  @include set-background($green);
}
.bg-green-2 {
  @include set-background($brand-2);
}
.bg-green-3 {
  @include set-background($brand-3);
}
.bg-green-4 {
  @include set-background($brand-4);
}
.bg-green-5 {
  @include set-background($brand-5);
}

//Nutrals
.bg-black {
  @include set-background($black);
}
.bg-gray-1 {
  @include set-background($gray-1);
}
.bg-gray-2 {
  @include set-background($gray-2);
}
.bg-gray-3 {
  @include set-background($gray-3);
}
.bg-gray-4 {
  @include set-background($gray-4);
}
.bg-white {
  @include set-background($white);
}

// footer a:hover {
//   color: #000000 !important;
// }
