$blue-dark: rgba(46, 74, 95, 1);
$blue: rgba(5, 129, 196, 1);
$blue-2: rgba(65, 145, 204, 1);
$blue-3: rgba(97, 163, 212, 1);
$blue-4: rgba(125, 183, 221, 1);
$blue-5: rgba(154, 205, 230, 1);

$brand-dark: rgba(26, 53, 42, 1);
$brand: rgba(1, 85, 58, 1);
$brand-2: rgba(13, 114, 92, 1);
$brand-3: rgba(47, 143, 127, 1);
$brand-4: rgba(97, 177, 166, 1);
$brand-5: rgba(167, 213, 207, 1);

$green-dark: rgba(44, 88, 55, 1);
$green: rgba(23, 169, 75, 1);
$green-2: rgba(71, 185, 110, 1);
$green-3: rgba(119, 198, 146, 1);
$green-4: rgba(165, 215, 182, 1);
$green-5: rgba(210, 234, 217, 1);

$black: rgba(16, 16, 16, 1);
$gray-1: rgba(53, 51, 50, 1);
$gray-2: rgba(88, 84, 84, 1);
$gray-3: rgba(130, 126, 126, 1);
$gray-4: rgba(181, 178, 179, 1);
$white: rgba(247, 247, 247, 1);

$transparent: rgba(0, 0, 0, 0);

//Set text color based on bg color
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $black;
  } @else {
    @return $white;
  }
}

//Set bg color and text color in one
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

//Set links color
a {
  color: $green;
}
footer a {
  color: $white;
}

//Blue Color
.bg-blue-dark {
  @include set-background($blue-dark);
}
.bg-blue {
  @include set-background($blue);
}
.bg-blue-2 {
  @include set-background($blue-2);
}
.bg-blue-3 {
  @include set-background($blue-3);
}
.bg-blue-4 {
  @include set-background($blue-4);
}
.bg-blue-4 {
  @include set-background($blue-5);
}

//Brand Color
.bg-brand-dark {
  @include set-background($brand-dark);
}
.bg-brand {
  @include set-background($brand);
}
.bg-brand-2 {
  @include set-background($brand-2);
}
.bg-brand-3 {
  @include set-background($brand-3);
}
.bg-brand-4 {
  @include set-background($brand-4);
}
.bg-brand-5 {
  @include set-background($brand-5);
}

//Greens
.bg-green-dark {
  @include set-background($green-dark);
}
.bg-green {
  @include set-background($green);
}
.bg-green-2 {
  @include set-background($brand-2);
}
.bg-green-3 {
  @include set-background($brand-3);
}
.bg-green-4 {
  @include set-background($brand-4);
}
.bg-green-5 {
  @include set-background($brand-5);
}

//Nutrals
.bg-black {
  @include set-background($black);
}
.bg-gray-1 {
  @include set-background($gray-1);
}
.bg-gray-2 {
  @include set-background($gray-2);
}
.bg-gray-3 {
  @include set-background($gray-3);
}
.bg-gray-4 {
  @include set-background($gray-4);
}
.bg-white {
  @include set-background($white);
}
