@import "../styles/reset";
// @import "../styles/reset";
@import "../styles/colors";
@import "../styles/typography";
@import "../styles/button";
@import "../styles/forms";
@import "../styles/layout";
@import "../styles/scroll";
@import "../styles/animations";
@import "../styles/video";
@import "../styles/images";
@import "../styles/spacing";
@import "../styles/header";
@import "../styles/portfolio";

//Removes Scrollebar
// ::-webkit-scrollbar {
//   display: none;
// }
* {
  // outline: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

.text-center {
  text-align: center;
}

body {
  min-width: 100%;
  overflow-x: hidden;
  background-color: $black;
}

footer {
  padding-top: $space;
  padding-bottom: $space;
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

section {
  padding-top: $space;
  padding-bottom: $space;
  width: 100%;
  overflow-x: hidden;
}

.disable-mouse-events {
  pointer-events: none;
}

.v-h-center-100vh {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

section {
  //Called Mixin function in _colors
  @include set-background($black);
}

.gradient-top {
  z-index: 100;
  position: fixed;
  top: 0px;
  height: 4px;
  width: 100%;
  overflow-x: hidden;
  background: $brand-gradient;
}
